@font-face {
  font-family: 'IranYekan';
  src: url('../../public/fonts/iranyekan/woff/iranyekanwebregular.woff');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

th {
  text-wrap: nowrap;
}

#searchForm > .ant-row > .ant-row.ant-form-item {
  width: 100%;
  text-align: right;
  padding-right: 12px;
  .ant-col {
    flex: 1;
    max-width: 100%;
    width: 100%;
    .ant-btn:first-child {
      margin-right: 10px;
    }
  }
}

.app-loading-wrapper.ant-spin-spinning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  width: 100%;
}

label {
  font-weight: 700;
}

.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.delete-icon {
  color: red;
  cursor: pointer;
}
.disable-delete-icon {
  color: gray;
  cursor: not-allowed;
}

.copy-icon {
  color: darkgreen;
}

.edit-icon {
  color: darkblue;
}

.status-icon {
  color: #3d8e15;
}

.print-icon {
  color: #796700;
}

/* global stylesheet, or .module.css */
.ant-picker-panel .ant-picker-content thead {
  display: none !important;
}

.ant-table-cell {
  text-align: center;
}
/* For Gregorian DatePicker */
.ant-picker-cell-today {
  border: none !important;
}

/* For Jalali DatePicker (if different class is needed) */
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner {
  &::before {
    border: none !important;
  }
}
