.tabs {
  display: flex;
  margin: 0 0 1rem;
}
.single-tab{
  padding: 1rem;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.3s ease;
}
.active-tab{
  border-bottom-color: blue;
  background-color: #ededed;
  border-radius: 0.5rem 0.5rem 0 0;
}